footer.s-footer
	.container
		.logo
			+picture({
				media: false,
				img: 'images/logo-btm.png'
			})
		a(href="https://fix-price.com/products?brand=594").buy Где купить
		.policy
			a(href="#popup1" data-fancybox) Правила пользования
			br
			| и
			=' '
			a(href="#popup2" data-fancybox) политика конфиденциальности
		.copy © Все права защищены
			br
			|2023


.popup#popup1
	h2 title

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio ex harum iste nemo nostrum pariatur quae quaerat quisquam, quo similique suscipit tempore veniam, vitae voluptate? Earum fuga similique sunt!
	p Alias amet consequuntur deserunt eos eum fugit, illo, incidunt ipsa molestias optio quam qui quos repudiandae sed tempore unde velit voluptate? Corporis cupiditate dolorum hic iusto pariatur possimus, quasi tenetur?
	p Aliquid aspernatur culpa dolores eaque est expedita fuga in laborum libero mollitia necessitatibus nemo nesciunt numquam odio perferendis placeat, provident quas quo sapiente tenetur. Aperiam consequatur libero odit ratione recusandae.
	p Consequatur debitis deleniti, est ipsa laboriosam obcaecati quibusdam ratione reprehenderit. Consectetur cupiditate distinctio ducimus, exercitationem fugit nam necessitatibus nemo, odio quia quos rem, ullam unde. Ducimus harum totam unde voluptatem.
	p Alias corporis deleniti enim incidunt natus placeat quae veritatis voluptatum? Accusantium aspernatur aut autem consectetur, corporis doloribus ea eum illo labore libero magni maxime modi nulla pariatur qui unde vel.
	h2 title

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio ex harum iste nemo nostrum pariatur quae quaerat quisquam, quo similique suscipit tempore veniam, vitae voluptate? Earum fuga similique sunt!
	p Alias amet consequuntur deserunt eos eum fugit, illo, incidunt ipsa molestias optio quam qui quos repudiandae sed tempore unde velit voluptate? Corporis cupiditate dolorum hic iusto pariatur possimus, quasi tenetur?
	p Aliquid aspernatur culpa dolores eaque est expedita fuga in laborum libero mollitia necessitatibus nemo nesciunt numquam odio perferendis placeat, provident quas quo sapiente tenetur. Aperiam consequatur libero odit ratione recusandae.
	p Consequatur debitis deleniti, est ipsa laboriosam obcaecati quibusdam ratione reprehenderit. Consectetur cupiditate distinctio ducimus, exercitationem fugit nam necessitatibus nemo, odio quia quos rem, ullam unde. Ducimus harum totam unde voluptatem.
	p Alias corporis deleniti enim incidunt natus placeat quae veritatis voluptatum? Accusantium aspernatur aut autem consectetur, corporis doloribus ea eum illo labore libero magni maxime modi nulla pariatur qui unde vel.
.popup#popup2

	h2 title

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio ex harum iste nemo nostrum pariatur quae quaerat quisquam, quo similique suscipit tempore veniam, vitae voluptate? Earum fuga similique sunt!
	p Alias amet consequuntur deserunt eos eum fugit, illo, incidunt ipsa molestias optio quam qui quos repudiandae sed tempore unde velit voluptate? Corporis cupiditate dolorum hic iusto pariatur possimus, quasi tenetur?
	p Aliquid aspernatur culpa dolores eaque est expedita fuga in laborum libero mollitia necessitatibus nemo nesciunt numquam odio perferendis placeat, provident quas quo sapiente tenetur. Aperiam consequatur libero odit ratione recusandae.
	p Consequatur debitis deleniti, est ipsa laboriosam obcaecati quibusdam ratione reprehenderit. Consectetur cupiditate distinctio ducimus, exercitationem fugit nam necessitatibus nemo, odio quia quos rem, ullam unde. Ducimus harum totam unde voluptatem.
	p Alias corporis deleniti enim incidunt natus placeat quae veritatis voluptatum? Accusantium aspernatur aut autem consectetur, corporis doloribus ea eum illo labore libero magni maxime modi nulla pariatur qui unde vel.
	h2 title

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio ex harum iste nemo nostrum pariatur quae quaerat quisquam, quo similique suscipit tempore veniam, vitae voluptate? Earum fuga similique sunt!
	p Alias amet consequuntur deserunt eos eum fugit, illo, incidunt ipsa molestias optio quam qui quos repudiandae sed tempore unde velit voluptate? Corporis cupiditate dolorum hic iusto pariatur possimus, quasi tenetur?
	p Aliquid aspernatur culpa dolores eaque est expedita fuga in laborum libero mollitia necessitatibus nemo nesciunt numquam odio perferendis placeat, provident quas quo sapiente tenetur. Aperiam consequatur libero odit ratione recusandae.
	p Consequatur debitis deleniti, est ipsa laboriosam obcaecati quibusdam ratione reprehenderit. Consectetur cupiditate distinctio ducimus, exercitationem fugit nam necessitatibus nemo, odio quia quos rem, ullam unde. Ducimus harum totam unde voluptatem.
	p Alias corporis deleniti enim incidunt natus placeat quae veritatis voluptatum? Accusantium aspernatur aut autem consectetur, corporis doloribus ea eum illo labore libero magni maxime modi nulla pariatur qui unde vel.
