header.s-header
	.inner
		.container
			a(href="#catalog").lnk.js-anchore Ассортимент
			.logo
				img(src="images/logo.gif")
			a(href="https://fix-price.com/products?brand=594").lnk Где купить
			.languages
				.head
					span Рус
					+icon('angle-down')
				.dropdown
					.itm
						a(href="#") En
