header.s-header
	.inner
		.container
			a(href="#catalog").lnk.js-anchore Ассортимент
			.logo
				img(src="images/logo.gif")
			a(href="#").lnk Где купить ?
			.languages
				.head
					span Рус
					+icon('angle-down')
				.dropdown
					.itm
						a(href="#") En
					.itm
						a(href="#") De
