extends base/pug/base
append variables
	- var title = 'Соленья'
	- var pageClass = ''
	- var pageUrl = '/'
block content
	.section
		+picture({
			img: 'images/main.png',
			class: 'bg',
			alt: 'В составе только натуральные ингредиенты'
		})
		.desc
			.container
				h1.title-h1  В составе только натуральные ингредиенты
	.section
		+picture({
			img: 'images/bg-2.png',
			class: 'bg',
			alt: 'Вкус и польза свежих овощей!'
		})
		.desc
			.container
				.title-h1  Вкус и польза свежих овощей!
	.section
		+picture({
			img: 'images/bg-3.png',
			class: 'bg bg-m-auto'
		})

	.section.section-parallax
		img(src="images/bg-4.png" loading="lazy" class="bg")
		img(src="images/p-9.png" loading="lazy" class="parallax parallax-9" data-speed="4").left
		img(src="images/p-1.png" loading="lazy" class="parallax parallax-1" data-speed="3").bottom
		img(src="images/p-2.png" loading="lazy" class="parallax parallax-2" data-speed="3").right.top
		img(src="images/p-3.png" loading="lazy" class="parallax parallax-3" data-speed="5").left.top
		img(src="images/p-4.png" loading="lazy" class="parallax parallax-4" data-speed="3").left.top
		img(src="images/p-5.png" loading="lazy" class="parallax parallax-5" data-speed="1").top.right
		img(src="images/p-6.png" loading="lazy" class="parallax parallax-6" data-speed="5").bottom.right
		img(src="images/p-7.png" loading="lazy" class="parallax parallax-7" data-speed="4").left.bottom
		img(src="images/p-8.png" loading="lazy" class="parallax parallax-8" data-speed="10").right


		.desc
			.container
				.title-h1  Приготовлено из тщательно отобранного сырья
	.catalog#catalog
		.container
			.title-h2  Консервы
			-
				var products =	[
					{
						img: 'images/prod-1.png',
						ttl: 'Горошек зелёный',
						val: '310 г'
					},
					{
						img: 'images/prod-2.png',
						ttl: 'Икра из кабачков',
						val: '315 г'
					},
					{
						img: 'images/prod-3.png',
						ttl: 'Кукуруза сахарная',
						val: '310 г'
					},
					{
						img: 'images/prod-4.png',
						ttl: 'Фасоль белая',
						val: '310 г'
					},
					{
						img: 'images/prod-5.png',
						ttl: 'Фасоль красная',
						val: '310 г'
					}
				]
				var products2 = [
					{
						img: 'images/prod-6.png',
						ttl: 'Икра овощная',
						val: '680 г'
					},
					{
						img: 'images/prod-7.png',
						ttl: 'Лечо по-болгарски',
						val: '680 г'
					},
					{
						img: 'images/prod-8.png',
						ttl: 'Икра из кабачков',
						val: '680 г'
					},
					{
						img: 'images/prod-9.png',
						ttl: 'Овощное ассорти',
						val: '680 г'
					},
					{
						img: 'images/prod-10.png',
						ttl: 'Огурцы маринованные',
						val: '680 г'
					},
					{
						img: 'images/prod-11.png',
						ttl: 'Томаты в томатном соусе',
						val: '680 г'
					}
				]
			mixin list(data)
				.list&attributes(attributes)
					each product in data
						.itm
							.card
								+picture({
									media: false,
									img: product.img,
									alt: product.ttl
								})
								.desc
									.ttl=product.ttl
									.val=product.val
			+list(products)

			.title-h2  Овощные закатки
			+list(products2).mb-0
